.app {
  height: 100vh;
  padding: 50px;
}

.content li {
  padding: 10px;
}

div#dark {
  background: #0e0d0d;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
}

ul.pagination {
  text-align: center;
}

.switch {
  text-align: center;
}

.switch label {
  vertical-align: middle;
  margin-right: 10px;
}

.switch div {
  vertical-align: middle;
}